/*
====================================
      Includes: Header
====================================
*/

.flixpressBlog-IncludesHeader-title {
	color: #fff;
	font-weight: 500;
	font-size: 32px;
	line-height: 1;
	padding: 20px;
	text-align: center;
	margin-bottom: 0;
}

.flixpressBlog-IncludesHeader-blogLinks {
	background: #b70000;
}

.flixpressBlog-IncludesHeader-blogLinksWrapper {
	padding: 0 12px;
	margin: auto;
	max-width: 1170px;
}

.flixpressBlog-IncludesHeader-blogLinksWrapper > a {
	color: #fff;
	display: inline-block;
	padding: 12px;
}

.flixpressBlog-IncludesHeader-blogLinksWrapper > a:hover {
	background: #dd0000
}

.flixpressBlog-IncludesHeader-blogLinksWrapper::before,
.flixpressBlog-IncludesHeader-blogLinksWrapper::after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.flixpressBlog-IncludesHeader-blogLinksWrapper::after {
	clear: both;
}

.flixpressBlog-IncludesHeader-blogNavLink,
.flixpressBlog-IncludesHeader-blogHomeLink,
.flixpressBlog-IncludesHeader-rssLink {
	font-size: 18px;
	float: left;
	margin-left: 1em;
}
.flixpressBlog-IncludesHeader-blogHomeLink {
	margin-left: 0;
}
.flixpressBlog-IncludesHeader-rssLink {
	float: right;
}

/*
====================================
      Includes: Article
====================================
*/

.flixpressBlog-IncludesArticle-postContent {
	font-size: 18px;
	font-weight: 300;
}

/* Markdown generated HTML has no classes. Targeting those specifically here. */
.flixpressBlog-IncludesArticle-postContent > p:not([class]),
.flixpressBlog-IncludesArticle-postContent > h1:not([class]),
.flixpressBlog-IncludesArticle-postContent > h2:not([class]),
.flixpressBlog-IncludesArticle-postContent > h3:not([class]),
.flixpressBlog-IncludesArticle-postContent > h4:not([class]),
.flixpressBlog-IncludesArticle-postContent > h5:not([class]),
.flixpressBlog-IncludesArticle-postContent > blockquote:not([class]) {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.flixpressBlog-IncludesArticle-postContent > blockquote:not([class]) {
	color: #adadad;
}

.flixpressBlog-IncludesArticle-postContent > .video {
	max-width: 700px;
	margin: 24px auto;
}

.flixpressBlog-IncludesArticle-postStats::before,
.flixpressBlog-IncludesArticle-postStats::after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.flixpressBlog-IncludesArticle-postStats::after {
	clear: both;
}

.flixpressBlog-IncludesArticle-postDate {
	float: right;
}

/*
====================================
      Layouts: Layout
====================================
*/

.flixpressBlog-LayoutsLayout-mainContentWrapper {
	padding: 12px;
	margin: auto;
	max-width: 1170px;
}

/*
====================================
      Layouts: Post
====================================
*/

.flixpressBlog-LayoutsPost-postTitle {
	text-align: center;
}


.flixpressBlog-LayoutsPost-prevNext {
	margin: 48px auto;
	font-size: 18px;
}
.flixpressBlog-LayoutsPost-prevNext::before,
.flixpressBlog-LayoutsPost-prevNext::after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.flixpressBlog-LayoutsPost-prevNext::after {
    clear: both;
}

.flixpressBlog-LayoutsPost-prev {
	float: left;
}

.flixpressBlog-LayoutsPost-next {
	float: right;
}

/*
================================================================================
================================================================================
================================================================================
      Media Queries
================================================================================
================================================================================
================================================================================
*/

@media screen and (min-width: 768px) {
	/*
	====================================
	      Media Query: min width 768
	      Includes
	====================================
	*/

	.flixpressBlog-IncludesHeader-blogLinksWrapper {
		padding: 0 40px;
	}
	
	.flixpressBlog-IncludesHeader-blogNavLink,
	.flixpressBlog-IncludesHeader-rssLink {
		margin-left: 2em;
	}

	/*
	====================================
	      Media Query: min width 768
	      Layouts
	====================================
	*/

	.flixpressBlog-LayoutsLayout-mainContentWrapper {
		padding: 12px 40px;
	}
	
	.flixpressBlog-LayoutsPost-postTitle {
		font-size: 60px;
	}
}