.flixpressBlog-HeaderInclude-title {
	color: #fff;
	font-weight: 500;
	font-size: 32px;
	line-height: 1;
	padding: 20px;
	text-align: center;
}

.flixpressBlog-LayoutsLayout-bodyContainer {
	padding: 12px;
	margin: auto;
	max-width: 1170px;
}

.flixpressBlog-LayoutsLayout-blogLinksContainer:before,
.flixpressBlog-LayoutsLayout-blogLinksContainer:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.flixpressBlog-LayoutsLayout-blogLinksContainer:after {
    clear: both;
}

.flixpressBlog-LayoutsLayout-rssLink {
	float: right;
}

.flixpressBlog-LayoutsLayout-blogHomeLink {
	float: left;
}

@media screen and (min-width: 768px) {
	.flixpressBlog-LayoutsLayout-bodyContainer {
		padding: 40px;
	}
}