---
layout : layout
title : Flixpress Blog
---
<div class="flixpressBlog-Index-posts">
    {% for post in site.posts | limit: 3 %}
  		<article>
				<h2 class="flixpressBlog-Index-postTitle"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        {% assign article = post %}
      	{% include _article.html %}
  		</article>
    {% endfor %}
</div>

<h3>Older Posts</h3>
<ul class="flixpressBlog-Index-postArchive">
{% for post in site.posts | offset: 3 | limit: 5 %}
	<li>
		<span class="flixpressBlog-Index-archivePostDate"> {{ post.date | date: "%d %b"  }} </span> <a class="flixpressBlog-Index-archivePostLink" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
	</li>
{% endfor %}
</ul>
