---
layout : layout
title : Flixpress Blog
---
<div class="flixpressBlog-Index-posts">
    {% for post in site.posts | limit: 4 %}
      {% if post.short_description %}
        {% assign short_description = post.short_description %}
      {% else %}
        {% assign short_description = post.content | strip_html | truncate_words: 12 %}
      {% endif %}
      <article class="flixpressBlog-Index-postMediaItem">
        <h2 class="flixpressBlog-Index-postTitle"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        <div class="flixpressBlog-Index-postDescription">
          {{ short_description }}
          <a class="flixpressBlog-Index-postReadMore"
            href="{{ post.url }}">Read more</a>
        </div>
        {% if post.featured_image %}
          <div class="flixpressBlog-Index-postFeaturedImage">
            <img src="{% include featured_image %}" />
          </div>
        {% endif %}
      </article>
    {% endfor %}

    <script type="text/javascript">
      $(document).ready(function makeArticleClickable() {
        $('.flixpressBlog-Index-postMediaItem')
          .css('cursor', 'pointer')
          .hover(function () {
            $(this).addClass('hovered');
          }, function () {
            $(this).removeClass('hovered');
          })
          .on('click', function () {
            var url = $(this).find('a').first().attr('href');
            document.location.href = url;
          });
      });
    </script>

</div>

<h3>Older Posts</h3>
<ul class="flixpressBlog-Index-postArchive">
{% for post in site.posts | offset: 4 | limit: 5 %}
  <li>
    <span class="flixpressBlog-Index-archivePostDate"> {{ post.date | date: "%d %b"  }} </span> <a class="flixpressBlog-Index-archivePostLink" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
  </li>
{% endfor %}
</ul>
