<div id="Footer" style="padding-top:10px;">

          <div style="background:url('/images/gear_back.jpg') right center no-repeat">
            <div class="row fd_column padding-bottom-50" >
               <div>
                   <div style="clear:both;"></div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xsm-12" >
                        <h2 class="f_color8 f_weight_300" style="display:block !important;width:100%;float:left;clear:both;">Industry</h2>
                        <ul id="footerLinks">
                        <li><a href="https://flixpress.com/AdvertisingVideos.aspx">Advertising / Marketing Videos</a></li>
                        <li><a href="https://flixpress.com/RealEstateVideos.aspx">Real Estate Videos</a></li>
                        <li><a href="https://flixpress.com/EducationVideos.aspx">Education Videos</a></li>
                        <li><a href="https://flixpress.com/EventsVideos.aspx">Events Management Videos</a></li>
                        <li><a href="https://flixpress.com/EntertainmentVideos.aspx">Entertainment Videos</a></li>
                        <li><a href="https://flixpress.com/Non-ProfitVideos.aspx">Non-profit Videos</a></li>
					</ul>
                    
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 col-xsm-12" >
                        <h2 class="f_color8 f_weight_300" style="display:block !important;width:100%;float:left;clear:both;">Partner With Us</h2>
                        <ul id="footerLinks">
			                <li><a href="https://flixpress.com/Designers.aspx">Designers / Animators</a></li>
			                <!-- <li><a href="https://flixpress.com/Animators.aspx">Developers</a></li> -->
			                <li><a href="https://flixpress.com/AffiliateProgram.aspx">Affiliate Program</a></li>
					    </ul>
                    
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 col-xsm-12" >
                        <h2 class="f_color8 f_weight_300" style="display:block !important;width:100%;float:left;clear:both;">Company</h2>
                        <ul id="footerLinks">
 			                <li><a href="https://flixpress.com/Updates.aspx">Latest Updates</a></li>                       
			                <li><a href="https://flixpress.com/AboutFlixpress.aspx">About FlixPress</a></li>
			                <li><a href="https://flixpress.com/TermsOfUse.aspx">Terms of Use/Sale</a></li>
			                <li><a href="https://flixpress.com/PrivacyStatement.aspx">Privacy Statement</a></li>
			                <li><a href="https://flixpress.com/Support/CustomerSupport/faq.aspx">FAQ</a></li>
			                <li><a href="https://flixpress.com/Jobs.aspx">Jobs &amp; Careers</a></li>
					</ul>
                    
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 col-xsm-12" >
                        <h2 class="f_color8 f_weight_300" style="display:block !important;width:100%;float:left;">Contact Us</h2>
                        <ul id="footerLinks">
			               <li><a href="http://support.flixpress.com">Support</a></li>
			               <li><a href="https://flixpress.com/Investors.aspx">Investors</a></li>
					</ul>
                    
                    </div>



                </div>
            </div> <!-- Footer Four Column -->
          
            <div class="row text_align_center ">
                <div class="col-lg-12 col-md-12 col-sm-12 padding-top-bottom-10" style="border-bottom:solid 5px #d70000;display:block;">
                <a class="ft_hover" href="https://www.facebook.com/flixpress" target="_blank"><em class="fa fa-facebook ft_icon"></em></a>
                <a class="ft_hover" href="https://www.youtube.com/flixpress" target="_blank"><em class="fa fa-youtube ft_icon"></em></a>
                <a class="ft_hover" href="https://www.twitter.com/flixpress" target="_blank"><em class="fa fa-twitter ft_icon"></em></a>                                
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 padding-top-bottom-15" ><img src="https://flixpress.com/images/logo_large.png" /></div>

            </div> <!-- Footer Three Column -->
          
         </div>   
        </div> <!-- End of Footer --> 
        <div class="bg_color9 padding-top-bottom-30 text_align_center">
          <div class="row">
            <div class="col-lg-12">
              <span class="margin_auto fd_column f_color1" style="font-size:18px;"/>Copyright {{ site.time | date: '%Y' }} Flixpress LLC</span> 
            </div><!-- End of copyright -->
          </div> 
        </div><!-- End of copyright-section -->
    
