<script type="text/javascript" src="https://flixpress.com/Scripts/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="https://flixpress.com/Portals/_default/Skins/Fusion/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="https://flixpress.com/Portals/_default/Skins/Fusion/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="https://flixpress.com/Portals/_default/Skins/Fusion/jquery/bootstrap.min.js"></script>
<script type="text/javascript" src="https://flixpress.com/Portals/_default/Skins/Fusion/jquery/easing.js"></script>
<script type="text/javascript" src="https://flixpress.com/Portals/_default/Skins/Fusion/jquery/waypoints.js"></script>
<script type="text/javascript" src="https://flixpress.com/Portals/_default/Skins/Fusion/jquery/counterup.js"></script>
<script type="text/javascript" src="https://flixpress.com/Scripts/flixpress-js-promise.js"></script>

<script src="https://use.typekit.net/jtj7oyc.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

<!--[if lte IE 8]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
  <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
<![endif]-->
