<div id="Header" class="Header header-style3">
  <div class="row Header_bg">
    
    <div id="Logo" class="col-xs-12 col-sm-3 col-lg-2">
      <a id="dnn_ctl16_dnnLogo_hypLogo" title="Flixpress - Create video, animation &amp; intros online" href="https://flixpress.com/Home.aspx"><img id="dnn_ctl16_dnnLogo_imgLogo" src="https://flixpress.com/Portals/0/logo_small.png" alt="Flixpress - Create video, animation &amp; intros online" /></a>
    </div><!-- close logo  -->
    
    <div id="Mainmenu" class="col-xs-12 col-sm-7 col-md-6 col-lg-7" style="margin:0 !important;">
      <div class="Menu navbar-collapse collapse no-padding">
        <div id="Mmenu" style="float:left;">
          <div class="nav navbar-nav">
            <!-- DDRmenu v02.00.01 - dnnsuperfish template -->
            <nav class="main-navigation">
              <script type="text/javascript">
                // jQuery(function($) {
                // if ($(window).width() >= 700)
                // {
                //   $("#dnn_ctl16_MENU1").superfish(
                //   {onShow:function() { if ($.browser.msie) this[0].style.removeAttribute('filter'); },MenuStyle:"dnnsuperfish"}
                //   );
                // }
                // });
              </script>
              <ul class="nav" id="dnn_ctl16_MENU1">
                <li class="first"><a href="https://flixpress.com/AutomatedTemplates.aspx">Automated Templates</a></li>
                <li class=""><a href="https://flixpress.com/Features.aspx">Features</a></li>
                <li class=""><a href="https://flixpress.com/Pricing.aspx">Pricing</a></li>
                <li class="last&#xA;"><a href="http://support.flixpress.com">Support</a></li>
              </ul>
            </nav>
          </div>
        </div> <!-- End of Mmenu--> 

      </div><!-- End of navbar-collapse -->

    </div><!-- End of Mainmenu -->
    
  </div>
</div><!-- End of Header -->

<div class="parallax_1">
  <h1 class="flixpressBlog-IncludesHeader-title">Flixpress Blog{% if page.layout == "layout" %}: {{ page.title }}{% endif %}</h3>
</div>
