<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		{% include header.html %}
		<div class="flixpressBlog-LayoutsLayout-bodyContainer">

			<nav class="flixpressBlog-LayoutsLayout-blogLinksContainer">
				<a class="flixpressBlog-LayoutsLayout-rssLink" href="{{ site.baseurl }}/rss.xml">
					<img src="{{ site.baseurl }}/img/rss.png" /> feed
				</a>
				<a class="flixpressBlog-LayoutsLayout-blogHomeLink" href="{{ site.baseurl }}/">Blog Home</a>

				{% for page in site.pages %}{% if page.layout == "layout" %}{% if page.title != "Flixpress Blog" %}
					<a class="flixpressBlog-LayoutsLayout-blogHomeLink" href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
				{% endif %}{% endif %}{% endfor %}
			</nav>

			<div class="flixpressBlog-LayoutsLayout-contentContainer">
				{{content}}
			</div>

		</div>
		{% include footer.html %}
	</body>
</html>