---
layout: layout
---

<div class="flixpressBlog-LayoutsPost-post">
	<h2 class="flixpressBlog-LayoutsPost-postTitle"> {{page.title}} </h2>
	<div class="flixpressBlog-LayoutsPost-postStats">
		<span class="flixpressBlog-LayoutsPost-postDate">{{ page.date | date: "%e %B, %Y" }}</span>
		{% if page.tags %}
			<ul class="flixpressBlog-LayoutsPost-postTags">
			{% for tag in page.tags %}
				<li class="flixpressBlog-LayoutsPost-postTag">
					<a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>
				</li>
			{% endfor %}
			</ul>
		{% endif %}
	</div>
	
	<div class="flixpressBlog-LayoutsPost-postContent">
		{{ content }}
	</div>
</div>

<nav class="flixpressBlog-LayoutsPost-prevNext"> 
	{% if page.previous.url %}
		<a class="flixpressBlog-LayoutsPost-prev"
		href="{{ site.baseurl }}{{page.previous.url}}"
		title="Previous Post: {{page.previous.title}}">
			&larr; {{page.previous.title}}
		</a>
	{% endif %}
	{% if page.next.url %}
		<a class="flixpressBlog-LayoutsPost-next"
		href="{{ site.baseurl }}{{page.next.url}}"
		title="next Post: {{page.next.title}}">
			{{page.next.title}} &rarr;
		</a>
	{% endif %}
</nav> 
